---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yVoCuMB0qHfPWPDbE1TPO1QY1", oauth_nonce="7dd07b634ac3e67acdd9dc37bf6f082c",
        oauth_signature="L6EstA%2FmB5XKgF0q6FjFSuYtddM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450307825", oauth_token="299303814-ipaHbRGZOGnDdmm3GUHpw4dCRpAeB9d1ncfOwj6y",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 16 Dec 2015 23:17:05 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - f61b750621f3d025ab77e53e53e6fd92
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1450308725'
      X-Response-Time:
      - '93'
      X-Transaction:
      - 27c3dc4acae1aec3
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Dec 16 23:17:00 +0000 2015","id":677266201660284929,"id_str":"677266201660284929","text":"F
        - Tancredi, 33, #14.  #CanWNT 108th appearance. Plays for @chicagoredstars,
        from Ancaster, ON @cityofHamilton (3\/11)","source":"\u003ca href=\"http:\/\/www.hootsuite.com\"
        rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":103948050,"id_str":"103948050","name":"Canada
        Soccer","screen_name":"CanadaSoccerEN","location":"Ottawa, ON, CANADA","description":"Official
        Twitter account of Canada Soccer. Together, we are #CanadaRED. #CANMNT #CANWNT
        #canm20 #canw20 #canm17 #canw17 #canm15 #canw15 #canPara","url":"http:\/\/t.co\/cGdFN1Zzun","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/cGdFN1Zzun","expanded_url":"http:\/\/www.canadasoccer.com","display_url":"canadasoccer.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":59758,"friends_count":679,"listed_count":982,"created_at":"Mon
        Jan 11 19:35:49 +0000 2010","favourites_count":4886,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":26252,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EBEBEB","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/602180922704662528\/fDrKNqpJ.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/602180922704662528\/fDrKNqpJ.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/672503628255522818\/on_R372u_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/672503628255522818\/on_R372u_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/103948050\/1432406134","profile_link_color":"000000","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"F3F3F3","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"CanWNT","indices":[24,31]}],"symbols":[],"user_mentions":[{"screen_name":"chicagoredstars","name":"Chicago
        Red Stars","id":15171229,"id_str":"15171229","indices":[60,76]},{"screen_name":"cityofhamilton","name":"City
        of Hamilton","id":44699893,"id_str":"44699893","indices":[96,111]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Dec 16 23:16:39 +0000 2015","id":677266114276171776,"id_str":"677266114276171776","text":"F
        \u2013 Christine Sinclair, 32, #12. Captain.  #CanWNT 231st appearance. @thornsFC
        One -  tied with Mia Hamm 2nd all-time # of goals. @sincy12","source":"\u003ca
        href=\"http:\/\/www.hootsuite.com\" rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_[...]
