---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yVoCuMB0qHfPWPDbE1TPO1QY1", oauth_nonce="0a81eb2326221f3e124f4b143f6245ca",
        oauth_signature="Be2MniKkYQTiDKaDbHABU9OHv%2BM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450306885", oauth_token="299303814-ipaHbRGZOGnDdmm3GUHpw4dCRpAeB9d1ncfOwj6y",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 16 Dec 2015 23:01:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - cf907fb305afefdea9a55cad63156e53
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '13'
      X-Rate-Limit-Reset:
      - '1450307561'
      X-Response-Time:
      - '70'
      X-Transaction:
      - 385fffce0abe0887
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Dec 16 23:00:58 +0000 2015","id":677262166517501952,"id_str":"677262166517501952","text":"Starting
        XI #CanWNT #Natal2015 https:\/\/t.co\/ACVRkrVl9l","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":103948050,"id_str":"103948050","name":"Canada
        Soccer","screen_name":"CanadaSoccerEN","location":"Ottawa, ON, CANADA","description":"Official
        Twitter account of Canada Soccer. Together, we are #CanadaRED. #CANMNT #CANWNT
        #canm20 #canw20 #canm17 #canw17 #canm15 #canw15 #canPara","url":"http:\/\/t.co\/cGdFN1Zzun","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/cGdFN1Zzun","expanded_url":"http:\/\/www.canadasoccer.com","display_url":"canadasoccer.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":59752,"friends_count":679,"listed_count":981,"created_at":"Mon
        Jan 11 19:35:49 +0000 2010","favourites_count":4886,"utc_offset":-18000,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":26246,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EBEBEB","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/602180922704662528\/fDrKNqpJ.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/602180922704662528\/fDrKNqpJ.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/672503628255522818\/on_R372u_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/672503628255522818\/on_R372u_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/103948050\/1432406134","profile_link_color":"000000","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"F3F3F3","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":2,"favorite_count":4,"entities":{"hashtags":[{"text":"CanWNT","indices":[12,19]},{"text":"Natal2015","indices":[20,30]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":677260544169103360,"id_str":"677260544169103360","indices":[31,54],"media_url":"http:\/\/pbs.twimg.com\/media\/CWYc4GuWUAAkrYT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CWYc4GuWUAAkrYT.jpg","url":"https:\/\/t.co\/ACVRkrVl9l","display_url":"pic.twitter.com\/ACVRkrVl9l","expanded_url":"http:\/\/twitter.com\/CanadaSoccerEN\/status\/677262166517501952\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":191,"resize":"fit"},"medium":{"w":600,"h":337,"resize":"fit"},"large":{"w":1024,"h":576,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":677260544169103360,"id_str":"677260544169103360","indices":[31,54],"media_url":"http:\/\/pbs.twimg.com\/media\/CWYc4GuWUAAkrYT.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CWYc4GuWUAAkrYT.jpg","url":"https:\/\/t.co\/ACVRkrVl9l","display_url":"pic.twitter.com\/ACVRkrVl9l","expanded_url":"http:\/\/twitter.com\/CanadaSoccerEN\/status\/677262166517501952\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":191,"resize":"fit"},"medium":{"w":600,"h":337,"resize":"fit"},"large":{"w":1024,"h":576,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"en"},{"created_at":"Wed
        Dec 16 23:00:16 +0000 2015","id":677261992546074624,"id_str":"677261992546074624","text":"Data
        too dear? Set YouTube to download in India while you sleep https:\/\/t.co\/h3SzkTlcpz","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str"[...]
