---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?user_id=299303814
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="yVoCuMB0qHfPWPDbE1TPO1QY1", oauth_nonce="a35292755bacd8b3cac1e02e82fe2667",
        oauth_signature="3IrZOxP8wVmFrA5%2BAtFztAWbtJ0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1450308443", oauth_token="299303814-ipaHbRGZOGnDdmm3GUHpw4dCRpAeB9d1ncfOwj6y",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 16 Dec 2015 23:27:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6828340794ad99e65d3127edce0a862b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1450309343'
      X-Response-Time:
      - '75'
      X-Transaction:
      - 31b40111597cc833
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue Dec 08 18:11:29 +0000 2015","id":674290214408347648,"id_str":"674290214408347648","text":"RT
        @kerrizor: Elixir School: Lessons in the Fundamentals of Elixir\n\nhttps:\/\/t.co\/wAjp92fOBy","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":299303814,"id_str":"299303814","name":"Torie
        Joy-Warren","screen_name":"torie_jw","location":"Denver, CO","description":"Learning
        software development @turingschool.","url":"http:\/\/t.co\/Bs4X0f8MRo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Bs4X0f8MRo","expanded_url":"http:\/\/toriejoywarren.com","display_url":"toriejoywarren.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":195,"friends_count":323,"listed_count":17,"created_at":"Sun
        May 15 21:07:31 +0000 2011","favourites_count":1774,"utc_offset":-14400,"time_zone":"Atlantic
        Time (Canada)","geo_enabled":false,"verified":false,"statuses_count":461,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme4\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme4\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/647059117501054976\/qPV7xp3t_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/647059117501054976\/qPV7xp3t_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/299303814\/1419385290","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Tue
        Dec 08 18:02:34 +0000 2015","id":674287971579781120,"id_str":"674287971579781120","text":"Elixir
        School: Lessons in the Fundamentals of Elixir\n\nhttps:\/\/t.co\/wAjp92fOBy","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2998581,"id_str":"2998581","name":"Yule
        Stack Developer","screen_name":"kerrizor","location":"Seattle, WA, USA","description":"[...]
